<div class="bg-primary nav header">
    <a href="/">
        <h2 class="logo">Home</h2>
    </a>
    <div class="logo-cadastro-funcionarios">
        <h2>Cadastro de Funcionários</h2>
    </div>

</div>