
<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Cadastrar</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/salvarcadastro">
                    <label>Nome Completo</label>
                    <input type="text" placeholder="Digite aqui o nome completo" class="form-control" name="nome" id="nome" onchange="toggleButton()">
                    <br>
                    <label>CPF</label>
                    <input type="number" placeholder="Digite aqui o CPF" class="form-control" name="cpf" id="cpf" onchange="toggleButton()">
                    <br>
                    <label>Bairro</label>
                    <input type="text" placeholder="Digite aqui o bairro" class="form-control" name="bairro" id="bairro" onchange="toggleButton()">
                    <br>
                    <label>Cidade</label>
                    <input type="text" placeholder="Digite aqui a cidade" class="form-control" name="cidade" id="cidade" onkeyup="toggleButton()">
                    <br>
                    <button disabled type="submit" class="btn btn-primary btn-cadastrar-pg-cadastro" id="deletar">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>
