<%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/navbar.ejs') %>
        <div class="container">
            <h1>Cadastro deletado com Sucesso!</h1>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
