<%- include ('./partials/head.ejs') %>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <br />

  <div class="btn-links">
    <a href="./cadastrar" class="btn btn-primary">Cadastrar</a>
    <a href="./consultar" class="btn btn-primary">Consultar</a>
  </div>
  <div class="btn-links">
    <a href="./listAll" class="btn btn-primary listar-todos">Listar todos</a></div>
</body>
