a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}

/*head - nav*/
.header {
    padding: 10px 0;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-left: 20px;
}
.logo-cadastro-funcionarios{
    margin: 0 auto;
    color: white;
    padding-right: 100px;
}

.container-home a{
    margin: 0 auto;
}

.btn-links{
    max-width: 1200px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.btn-links a{
    max-width: 300px;
    font-size: 1rem;
    display: flex;
    margin-bottom: 10px;
    text-align: center;
}
.btn-links button{
    width: 100%;
}

.container-cadastrar {
    max-width: 800px;
}

.tb-teste{
    max-width: 1600px;
    margin: 0 auto;
}


input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
button:disabled{
    box-shadow: 100%;
    
}

/*Page Consultar*/
.page-consultar {
    max-width: 800px;
}
.consultar-form{
    max-width: 1200px;
    margin: 0 auto;
}



/****** Media queries ******/
@media (max-width: 450px){
    .logo-cadastro-funcionarios{
        display: none;
    }
    .btn-links a{
        font-size: 1rem;
        display: flex;
        margin-bottom: 10px;
        text-align: center;
    }
    .btn-links button{
        width: 100%;
    }
    .tabela-listAll {
        font-size: 0.45rem;
    }
    .btn-deletar{
        font-size: 0.5rem;

    }
}
